* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* ====================================================================== */
/* ====================================================================== */

.checkbtn {
	font-size: 32px;
	float: right;
	margin-right: 15px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

p::first-letter {
	font-size: 150%;
}

/* ====================================================================== */
/* ====================================================================== */
@media screen and (min-width: 1280px){
/* Style voor de body met eens schermgrootte boven de 1280px */
body {
	width: 80vw;
	margin: auto;
	background-color: #7da1d4;
	font-family: Arial, Helvetica, sans-serif;
}

#body-flex {
	display: flex;
	flex-wrap: wrap;
}


/* ====================================================================== */
/* ====================================================================== */

/* Individuele opmaak voor het logo, de headers*/
.logo-Website {
	width: 75px;
	height: 75px;
	float: right;
	z-index: 9990;
}

.website-Title {
	padding: 5px;
	word-spacing: 5px;
	border-left: 2px solid #161240;
	border-top: 2px solid #161240;
	border-right: 2px solid #161240;
	background-color: #eff9fe;
	color: #161240;
}

.website-Statement {
	background-color: #eff9fe;
	color: #161240;
	padding: 5px;
	word-spacing: 5px;
	border-left: 2px solid #161240;
	border-right: 2px solid #161240;
}

/* ====================================================================== */
/* ====================================================================== */
/* Style de Navigatie balk */
svg {
	display: none;
	}

.website-Navigatie {
	background-color: #161240;
}

ul {
	list-style-type: none;
	overflow: hidden;
}

li {
	float: left;
	background-color: #161240;
}

li a {
	display: block;
	padding: 10px;
	color: #ffffff;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
}

li a:hover {
	color: #ffff00;
}

li a:active {
	color: #000000;
}

a > span {
	color: #ff0000;
}

p + p {
	font-size: 0.9em;
}

/* ====================================================================== */
/* ====================================================================== */
/* Style voor de layout van het logo, de headers en 
de navigatie, deze zitten in een flexbox*/
#home-Header {
	width: 100%;
}

#logo-Website-Home {
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 1;
}

#home-Title {
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 2;
}

#home-Statement {
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 3;
}

#home-Navigatie {
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 4;
}

#home-Video {
	flex-basis: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	order: 5;
	margin-top: 5px;
	margin-bottom: 5px;
}

.website-Video {
	width: 100%;
}


/* ====================================================================== */
/* ====================================================================== */
/* Style voor de aside en de artikelen, deze zitten ook in een flexbox, 
de artikelen hebben een breedte van 70%, de aside neemt de rest*/
#home-Aside {
	flex-basis: 30%;
	flex-grow: 0;
	flex-shrink: 0;
	order: 7;
	background-color: #161240;
	border-radius: 5px;
	padding: 10px;
}

#aside-Header {
	color: #ffff00;
}

ol{
	padding: 15px;
	background-color: #161240;
}

.aside-li {
	color: yellow;
	width: 100%;
	background-color: #161240;
	list-style-type: dotted;
	line-height: 2;
}

/* ====================================================================== */
/* ====================================================================== */
#article-flex {
	flex-basis: 70%;
	flex-grow: 0;
	flex-shrink: 0;
	order: 6;
}

#home-Article1, #home-Article2, #home-Article3 {
	padding: 5px;
	margin: 5px;
	border: solid #000000;
	border-width: 2px;
	border-radius: 5px;
	background-color: #eff9fe;
}

.article-text {
	margin: 5px;
	width: 80%;
}

.img-Articles {
	width: 100px;
}

.index-figures {
	width: 100px;
	float: right;
	position: relative;
	text-align: center;
}



/* ====================================================================== */
/* ====================================================================== */

#article-eusolar {
	flex-basis: 70%;
	flex-grow: 0;
	flex-shrink: 0;
	order: 5;
}

#table-eusolar{
	flex-basis: 70%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 6;
	background-color: #7da1d4;
	border: none;
}

.eu-table td {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-style: double;
	padding: 4px;
	width: 10vw;
}

.eu-table td:nth-child(even) {
	background-color: #CFF;
}

.eu-table td:nth-child(odd) {
	background-color: #FFF;
}

.eu-table th:first-child {
	background-color: #FF0;
}

.eu-table td:first-child {
	background-color: #FF0;
}

.eu-table th:nth-child(2) {
	display: none;
}
.eu-table td:nth-child(2) {
	display: none;
}

#aside-eusolar {
	flex-basis: 29%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 7;
	margin-left: 1%;
}

.figure-aside {
	background-color: #eff9fe;
	color: black;
	padding: 5px;
	text-align: center;
}


.eusolar-content {
	margin-top: 5px;
	padding: 5px;
	border: 1px solid #000000;
	background-color: #eff9fe;
}

#table-footer {
	margin-top: 5px;
	padding: 5px;
	text-align: center;
}

/* ====================================================================== */
/* ====================================================================== */

#form-information {
	flex-basis: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	order: 5;
	margin-top: 10px;
	padding: 5px;
	font-size: 1.2em;
	border: 1px solid #161240;
	background-color: #eff9fe;
	
}

#contact-form {
	flex-basis: 70%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 6;
	margin-top: 10px;
}

fieldset {
	padding: 10px;
	border: 2px solid #eff9fe;
}

legend {
	font-size: 1.2em;
}

input {
	width: 90%;
	height: 3em;
	border-radius: 5%;
	border: 2px solid;
	border-color: #161240;
	border-radius: 10px;
	padding: 5px;
	margin-left: 5%;
	margin-right: 5%;
}

label {
	margin-left: 5%;
}

button {
	width: 30%;
	padding: 5px;
	margin-left: 5%;
	margin-top: 5%;
	border: 2px solid #161240;
}

#contact-asides {
	flex-basis: 29%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 7;
	margin-left: 1%;
}

.aside-products {
	width: 100px;
	height: 100px;
}

/* ====================================================================== */
/* ====================================================================== */
#howsolarworks-main-section {
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 5;
}

#grid-parent {
	display: grid;
	width: 80vw;
	margin-top: 10px;
	grid-template-columns: 33.3% auto 33.3%;
	grid-template-rows: repeat(6, 130px);
	
}

.grid-articles {
	width: 100%;
	border: 1px solid #000000;
	background-color: #eff9fe;
	padding: 5px;
	font-size: 1em;
	text-indent: 10px;
}


#article1 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 5;

}

#article2 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
}

#article3 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 3;
}

#article4 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 5;
}

#article5 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 6;
}

#article6 {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 5;
	grid-row-end: 6;
}

#aside-product1-grid {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 6;
	grid-row-end: 7;
}

#aside-product2-grid {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 6;
	grid-row-end: 7;
}

#aside-product3-grid {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 6;
	grid-row-end: 7;
}

#aside-product1, #aside-product2, #aside-product3 {
	background-color: #ffffff;
	height: 150px;
	padding: 5px;
	background-color: #161240;
	color: white;
	margin-top: 10px;
}

#aside-product1-grid, #aside-product2-grid, #aside-product3-grid {
	background-color: #ffffff;
	height: 150px;
	padding: 5px;
	background-color: #161240;
	color: #ffffff;
	margin-top: 10px;
}




/* ====================================================================== */
/* ====================================================================== */
/* Style voor de cookie statement en de footer, deze bevinden zich 
onderaan de pagina, de cookie statement is een flexbox*/
#footer {
	flex-basis: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	order: 8;
	margin-top: 50px;
	font-family: 'Notable', sans-serif;
	color: #ffff00;
	background-color: #161240;
	height: 50px;
	padding-top: 3px;
	padding-left: 10px;
}

#cookie-flex {
	width: 20vw;
	height: 6vh;
	position: fixed;
	top: 94vh;
	left: 70vw;
	z-index: 9999;
	background-color: #F04;
	opacity: 50%;
	font-size: 0.7em;
	padding: 5px 5px;
	
}
}






/* ====================================================================== */
/* ====================================================================== */
@media screen and (max-width: 1279px){
	/* Style voor de body met eens schermgrootte onder de 1180 px */
body {
	width: 80vw;
	margin: auto;
	background-color: #7da1d4;
	font-family: Arial, Helvetica, sans-serif;
}

#body-flex {
	display: flex;
	flex-wrap: wrap;
}

/* ====================================================================== */
/* ====================================================================== */
/* Individuele opmaak voor het logo, de headers*/
.logo-Website {
	width: 75px;
	height: 75px;
	float: right;
	z-index: 9990;
}

.website-Title {
	padding: 5px;
	word-spacing: 5px;
	border-left: 2px solid #161240;
	border-top: 2px solid #161240;
	border-right: 2px solid #161240;
	background-color: #eff9fe;
	color: #161240;
}

.website-Statement {
	background-color: #eff9fe;
	color: #161240;
	padding: 5px;
	word-spacing: 5px;
	border-left: 2px solid #161240;
	border-right: 2px solid #161240;
}

/* ====================================================================== */
/* ====================================================================== */
/* Style de Navigatie balk */
svg {display: none;}

.website-Navigatie {
	background-color: #161240;
}

ul {
	list-style-type: none;
	overflow: hidden;
}

li {
	float: left;
	background-color: #161240;
	color: #ffffff;
}

li a {
	display: block;
	padding: 10px;
	color: #ffffff;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
}

li a:hover {
	color: #ffff00;
}

a > span {
	color: #ff0000;
}

p + p {
	font-size: 0.9em;
}

/* ====================================================================== */
/* ====================================================================== */
/* Style voor de layout van het logo, de headers en 
de navigatie, deze zitten in een flexbox*/
#home-Header {
	width: 100%;
}

#logo-Website-Home {
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 1;
}

#home-Title {
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 2;
}

#home-Statement {
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 3;
}

#home-Navigatie {
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 4;
}

#home-Video {
	flex-basis: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	order: 5;
	margin-top: 5px;
	margin-bottom: 5px;
}

.website-Video {
	width: 100%;
}


/* ====================================================================== */
/* ====================================================================== */
/* Style voor de aside en de artikelen, deze zitten ook in een flexbox, 
de artikelen hebben een breedte van 70%, de aside neemt de rest*/
#home-Aside {
	flex-basis: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	order: 6;
	background-color: #161240;
	border-radius: 5px;
	padding: 10px;
}

#aside-Header {
	color: #ffff00;
}

ol{
	padding: 15px;
	background-color: #161240;
}

.aside-li {
	color: #ffff00;
	width: 100%;
	background-color: #161240;
	list-style-type: dotted;
	line-height: 2;
}


/* ====================================================================== */
/* ====================================================================== */
#article-flex {
	flex-basis: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	order: 7;
}

#home-Article1, #home-Article2, #home-Article3 {
	padding: 5px;
	margin: 5px;
	border: solid #000000;
	border-width: 2px;
	border-radius: 5px;
	background-color: #eff9fe;
}

.article-text {
	margin-left: 100px;
	font-size: 0.7em;
	width: 80%;
}

.img-Articles {
	width: 70px;
}

.index-figures {
	width: 100px;
	float: left;
	position: relative;
	text-align: center;
	font-size: 0.7em;
}

/* ====================================================================== */
/* ====================================================================== */

#article-eusolar {
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 5;
}

#table-eusolar{
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 6;
	background-color: #7da1d4;
	border: none;
}

.eu-table {
	margin: auto;
}

.eu-table td {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-style: double;
	padding: 4px;
	width: 10vw;
	font-size: 0.8em;
}

.eu-table td:nth-child(even) {
	background-color: #CFF;
}

.eu-table td:nth-child(odd) {
	background-color: #FFF;
}

.eu-table th:first-child {
	background-color: #FF0;
}

.eu-table td:first-child {
	background-color: #FF0;
}

.eu-table th:nth-child(2) {
	display: none;
}
.eu-table td:nth-child(2) {
	display: none;
}

.t-2012, .t-2013 {
	display: none;
}

#aside-eusolar {
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 7;
}

.figure-aside {
	background-color: #eff9fe;
	color: #000000;
	padding: 5px;
	text-align: center;
}

.eusolar-content {
	margin-top: 5px;
	padding: 5px;
	border: 1px solid #000000;
	background-color: #eff9fe;
}

#table-footer {
	margin-top: 5px;
	padding: 5px;
	text-align: center;
}

/* ====================================================================== */
/* ====================================================================== */

#form-information {
	flex-basis: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	order: 5;
	margin-top: 10px;
	padding: 5px;
	font-size: 1.2em;
	border: 1px solid #161240;
	background-color: #eff9fe;
	
}

#contact-form {
	flex-basis: 70%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 6;
	margin-top: 10px;
}

fieldset {
	padding: 10px;
	border: 2px solid #eff9fe;
}

legend {
	font-size: 1.2em;
}

input {
	width: 90%;
	height: 3em;
	border-radius: 5%;
	border: 2px solid;
	border-color: #161240;
	border-radius: 10px;
	padding: 5px;
	margin-left: 5%;
	margin-right: 5%;
}

label {
	margin-left: 5%;
}

button {
	width: 30%;
	padding: 5px;
	margin-left: 5%;
	margin-top: 5%;
	border: 2px solid #161240;
}

#contact-asides {
	flex-basis: 50%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 7;
}


.aside-products {
	width: 80px;
	height: 80px;
}

/* ====================================================================== */
/* ====================================================================== */
#howsolarworks-main-section {
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 5;
}

#grid-parent {
	display: grid;
	width: 80vw;
	margin-top: 10px;
	grid-template-columns: 50% 50%;
	grid-template-rows: repeat(6, 180px);
	
}

.grid-articles {
	width: 100%;
	border: 1px solid #000000;
	background-color: #eff9fe;
	padding: 5px;
	font-size: 0.8em;
}


#article1 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;

}

#article2 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 4;
}

#article3 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 5;
}

#article4 {
	display: none;
}

#article5 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 5;
}

#article6 {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 5;
	grid-row-end: 6;
}

#aside-product1-grid {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 6;
	grid-row-end: 7;
}

#aside-product2-grid {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 6;
	grid-row-end: 7;
}

#aside-product3-grid {
	display: none;
}

#aside-product1, #aside-product2, #aside-product3 {
	background-color: #ffffff;
	height: 125px;
	padding: 5px;
	background-color: #161240;
	color: #ffffff;
	margin-top: 10px;
}

#aside-product1-grid, #aside-product2-grid, #aside-product3-grid {
	background-color: #ffffff;
	height: 125px;
	padding: 5px;
	margin-top: 10px;
	background-color: #161240;
	color: #ffffff;
}

/* ====================================================================== */
/* ====================================================================== */
/* Style voor de cookie statement en de footer, deze bevinden zich 
onderaan de pagina, de cookie statement is een flexbox*/
#footer {
	flex-basis: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	order: 8;
	margin-top: 50px;
	font-family: 'Notable', sans-serif;
	color: #ffff00;
	background-color: #161240;
	height: 50px;
	padding-top: 3px;
	padding-left: 10px;	
}

#cookie-flex {
	width: 20vw;
	height: 6vh;
	position: fixed;
	top: 94vh;
	left: 70vw;
	z-index: 9999;
	background-color: #F04;
	opacity: 50%;
	font-size: 0.7em;
}
}






/* ====================================================================== */
/* ====================================================================== */
@media screen and (max-width: 479px){
	/* Style voor de body met eens schermgrootte onder de 480px */
body {
	width: 80vw;
	margin: auto;
	background-color: #7da1d4;
	font-family: Arial, Helvetica, sans-serif;
}

#body-flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

/* ====================================================================== */
/* ====================================================================== */
.website-Title {
	padding: 5px;
	background-color: #eff9fe;
	font-size: 1em;
	border-left: 2px solid #161240;
	border-top: 2px solid #161240;
	border-right: 2px solid #161240;
}

.website-Statement {
	background-color: #eff9fe;
	color: #161240;
	word-spacing: 2px;
	border-left: 2px solid #161240;
	border-right: 2px solid #161240;
	font-size: 0.9em;
	border-left: 2px solid #161240;
	border-bottom: 2px solid #161240;
	border-right: 2px solid #161240;
}

/* ====================================================================== */
/* ====================================================================== */
/* Style de Navigatie balk */
svg {
	display: initial;
	fill: #ffffff;
	width: 35px;
	height: 35px;
}

.website-Navigatie {
	background-color: #161240;
}

.checkbtn {
	display: block;
}
	
ul {
	position: fixed;
	width: 100%;
	height: 50vh;
	background: #161240;
	top: 48px;
	left: -1000px;
	text-align: center;
	z-index: 9998;	
}
	
nav ul li {
	margin: 20px 0;
	line-height: 30px;
}
	
nav ul li a {
	font-size: 30px;
	letter-spacing: 5px;
	text-transform: uppercase;
}
	
a {
	width: 100vw;
}
	
a:hover {
	background: #0089B3;
}
	
a > span {
	color: #ff0000;
}
	
p + p {
	font-size: 0.9em;
}
	
#check:checked ~ ul {
	left: 0;
}


/* ====================================================================== */
/* ====================================================================== */
#home-Header {
	flex-basis: 80%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 1
}

#logo-Website-Home {
	display: none;
}

#home-Navigatie {
	flex-basis: 20%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 2;
	padding-left: 20px;
	padding-top: 3px;
}

#home-Video {
	display: none;
}


/* ====================================================================== */
/* ====================================================================== */
/* Style voor de aside en de artikelen, deze zitten ook in een flexbox, 
de artikelen hebben een breedte van 70%, de aside neemt de rest*/
#home-Aside {
	flex-basis: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	order: 6;
	background-color: #161240;
	border-radius: 5px;
	padding: 10px;
	margin-top: 5px;
}

#aside-Header {
	color: #ffff00;
	font-size: 0.75em;
}

ol{
	padding: 15px;
	background-color: #161240;
}

.aside-li {
	color: #ffff00;
	width: 100%;
	background-color: #161240;
	list-style-type: dotted;
	font-size: 0.5em;
	line-height: 1.5;
}


/* ====================================================================== */
/* ====================================================================== */
#article-flex {
	flex-basis: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	order: 7;
}

#home-Article1, #home-Article2, #home-Article3 {
	padding: 5px;
	margin: 5px;
	border: solid #000000;
	border-width: 2px;
	border-radius: 5px;
	background-color: #eff9fe;
}

.article-text {
	width: 100%;
	margin: 5px;
	font-size: 0.5em;
}

.img-Articles {
	width: 75px;
}

.index-figures {
	width: 100px;
	float: left;
	position: relative;
	text-align: center;
	font-size: 0.7em;
}
/* ====================================================================== */
/* ====================================================================== */

#article-eusolar {
	display: none;
}

#table-eusolar{
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 6;
	background-color: #7da1d4;
	border: none;
}

.eu-table {
	margin: auto;
}

.eu-table td {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	padding: 5px;
	font-size: 1em;
	width: 10vw;
}

.eu-table td:nth-child(even) {
	background-color: #CFF;
}

.eu-table td:nth-child(odd) {
	background-color: #FFF;
}

.eu-table th:first-child {
	background-color: #FF0;
}

.eu-table td:first-child {
	background-color: #FF0;
}

.eu-table th:nth-child(2) {
	display: none;
}
.eu-table td:nth-child(2) {
	display: none;
}

.t-2014, .t-2015 {
	display: none;
}

#aside-eusolar {
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 6;
}

#table-footer {
	padding: 5px;
	background-color: #7da1d4;
	border: none;
	text-align: center;
}

/* ====================================================================== */
/* ====================================================================== */

#form-information {
	flex-basis: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	order: 5;
	margin-top: 10px;
	padding: 5px;
	font-size: 1em;
	border: 1px solid #161240;
	background-color: #eff9fe;
	
}

#contact-form {
	flex-basis: 70%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 6;
	margin-top: 10px;
}

fieldset {
	padding: 10px;
	border: 2px solid #eff9fe;
}

legend {
	font-size: 1.2em;
}

input {
	width: 90%;
	height: 3em;
	border-radius: 5%;
	border: 2px solid;
	border-color: #161240;
	border-radius: 10px;
	padding: 5px;
	margin-left: 5%;
	margin-right: 5%;
}

label {
	margin-left: 5%;
}

button {
	width: 30%;
	padding: 5px;
	margin-left: 5%;
	margin-top: 5%;
	border: 2px solid #161240;
}

#contact-asides {
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 7;
}

.aside-products {
	width: 60px;
	height: 60px;
}

/* ====================================================================== */
/* ====================================================================== */
#howsolarworks-main-section {
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	order: 5;
}

#grid-parent {
	display: grid;
	width: 80vw;
	margin-top: 10px;
	grid-template-columns: 100%;
	grid-template-rows: 200px 200px 200px 200px 110px 110px 110px;
	
}

.grid-articles {
	width: 100%;
	border: 1px solid #000000;
	background-color: #eff9fe;
	padding: 5px;
	font-size: 0.7em;
}


#article1 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;

}

#article2 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

#article3 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

#article4 {
	display: none;
}

#article5 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

#article6 {
	display: none;
}

#aside-product1-grid {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 5;
	grid-row-end: 6;
}

#aside-product2-grid {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 6;
	grid-row-end: 7;
}

#aside-product3-grid {
	display: initial;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 7;
	grid-row-end: 8;
}

#aside-product1, #aside-product2, #aside-product3 {
	background-color: #ffffff;
	height: 101px;
	padding: 5px;
	background-color: #161240;
	color: #ffffff;
}

#aside-product1-grid, #aside-product2-grid, #aside-product3-grid {
	background-color: #ffffff;
	height: 101px;
	padding: 5px;
	background-color: #161240;
	color: #ffffff;
}

/* ====================================================================== */
/* ====================================================================== */
/* Style voor de cookie statement en de footer, deze bevinden zich onderaan de pagina, de cookie statement is een flexbox*/
#footer {
	flex-basis: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	order: 8;
	margin-top: 50px;
	font-family: 'Notable', sans-serif;
	color: #ffff00;
	background-color: #161240;
	height: 50px;
	padding-top: 3px;
	padding-left: 10px;
}

#cookie-flex {
	width: 20vw;
	height: 6vh;
	position: fixed;
	top: 94vh;
	left: 70vw;
	z-index: 9999;
	background-color: #F04;
	opacity: 50%;
	font-size: 0.5em;
	padding: 5px 5px;
}
}